body {
	margin: auto;
	width: 7in;
	padding: .5in;
	font-family: Georgia;
	color: #333;
	background: #FBFBFB;
}

* {
	clear: both;
}
a {
	text-decoration: none;
	color: #1A4876; /*midnight blue*/
}
        
h2 {
	margin-top:0;
}

li {
	margin-top: .2em;
}

